html{overflow-x: hidden;}
.bg-curriculo{background-color: #90b4ce; border-radius: 4px;}
.left-page{
  text-align: center;
  color: white;
}
.right-page{
  background-color: #fffffe;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: right;
}
.company-name{
  margin-top: -10px;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #F1E3D3;
}
.profile-img{
  text-align: center;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #F1E3D3;
}
.topic{
  background-color: #F1E3D3;
  width: 90%;
  height: auto;
  color: black;
  text-align: left;
}
.leftTo{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color:black;
}
.rightTo{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 11%;
  color:black;
}
.text-curri{
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
.tleft{text-align: left;}
.text-secondary{font-size: 13px}
.tright{text-align: right;}
button{background-color: rgb(0, 0, 0, 0);border-color: rgb(0, 0, 0, 0);color: white;}
.remove-hover:hover,.close:hover{background-color: rgb(0, 0, 0, 0);}
.s_name{text-align: left;
  font-family:Impact;
  margin-top: -20px;
}
.da{text-align: right;
  margin-top: -30px;
  font-family:Impact;
}

/*FORA DO MODAL*/
html,.test{background-color: #1b1d21;}
